<h1><%= @tweets.title %></h1>
 
<p><%= @tweets.tweet %></p>
 
<p><%= @tweets.created_at %></p>
<%= link_to "Edit", edit_tweet_path(@tweets) %>
<%= link_to "Delete", tweet_path(@tweets), method: :delete, data: {confirm: "Are you sure?"} %>